<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Jobs</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:switch="${companyJobs}" >
    <h2 th:case="null">No companyJobs yet!</h2>
    <div th:case="*">
        <h1 style="text-align: center">companyJobs</h1>
        <div th:switch="${company}">
            <h2 th:case="null">No company yet!</h2>
            <div th:case="*">
                <h2 th:text="${company.companyName}"></h2>
                <a th:href="@{'/company/' + ${company.companyId} + '/jobs/createJob'}">Tạo job</a>

            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="companyJob : ${companyJobs}">
                <td th:text="${companyJob.jobId}"></td>
                <td th:text="${companyJob.jobName}"></td>
                <td th:text="${companyJob.jobDescription}"></td>
<!--                <td><a th:href="@{/edit/{id}(id=${companyJob.jobId})}">Edit</a></td>-->
<!--                <td><a th:href="@{/delete/{id}(id=${companyJob.jobId})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
